@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --font-body:  "Roboto", sans-serif;
    --font-heading:"Manrope", sans-serif;;
    --color-primary:#027EF5;
    --color-secondary:#00123D;
    --color-whitelight:rgba(255, 255, 255, 0.5);
    }
@layer components {
    .primary-btn{
        @apply transition inline-flex items-center justify-center w-auto min-w-25 h-10 xl:h-11.25 bg-primary text-white text-sm xl:text-base font-medium rounded-lg py-2 px-7 capitalize relative hover:bg-secondary focus:bg-secondary active:bg-secondary;
    }
}
html{
    @apply scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100;
}
body {
    font-family: var(--font-body);
    @apply scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100;
}
h1,h2,h3,h4,h5,h6{font-family: var(--font-heading);}